<table class="table table-striped">
	<thead class="position-static">
		<tr>
			<th scope="col">Client Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Side</th>
            <th scope="col">Type</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let trade of trades" >
			<td>{{trade.clientName | titlecase}}</td>
            <td>{{trade.product}}</td>
            <td>{{trade.price}}</td>
            <td>{{trade.quantity}}</td>
            <td>{{trade.side}}</td>
            <td>{{trade.type}}</td>
		</tr>
	</tbody>
</table>
