.admin-clients{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    div{
        width: 90%;
  
        h3{
            font-size: 3rem;
            padding: 3rem;
            margin-bottom: 3rem;
        }
    }
  }