:root {
  // colors
  --color-light-green: #06603a;
  --color-dark-green: #064f32;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-white: #f8f8f8;
  --color-background-white: #f9fafc;

  // fonts
  --font-playfair: "Playfair Display", serif;
  --font-roboto: "Roboto Slab", serif;
}
