<div class="dashboard container-lg">
    <portfolio-heading class="dashboard__heading"></portfolio-heading>
    <portfolio-list [portfolios]="portfolios"></portfolio-list>

    <ng-template #content let-modal>
        <create-portfolio (portfoliosOutput)="handlePortfolioCreated()" [modal]="modal"></create-portfolio>
    </ng-template>
    <button (click)="open(content)" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-outline-success btn-floating float" mdbRipple rippleColor="dark">
        <fa-icon [icon]="'plus'"></fa-icon>
    </button>
</div>
