<div class="admin-client-stock">

    <div class="modal-header">
      <div>Select Portfolio</div>

      <select (change)="onPortfolioSelect($event)" class="form-select" aria-label="Sort data">
        <option selected disabled value="">All Portfolio</option>
        <option *ngFor="let portfolio of portfolios" value="{{portfolio.id}}" >{{portfolio.name}}</option>
    </select>
    </div>

    <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">Product Quantity</th>
              <th scope="col">Order Side</th>
              <th scope="col">Order Type</th>
              <th scope="col">Order Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let portfolio of portfolioStock">
              <td>{{portfolio.product}}</td>
              <td>{{portfolio.quantity}}</td>
              <td>{{portfolio.side}}</td>
              <td>{{portfolio.type}}</td>
              <td>{{status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
