<section class="dashboard__open-orders card rounded-4">
    <h4 class="display-6">Open orders</h4>
    <div class="dashboard__open-orders__button-row">
        <!-- buy -->
        <input type="radio" class="btn-check" name="order-side" autocomplete="off" id="buy" checked />
        <label (click)="onOrderSideSelected('BUY')" class="btn btn-outline-success rounded-pill" for="buy">Buy</label>
        <!-- sell -->
        <input type="radio" class="btn-check" name="order-side" autocomplete="off" id="sell" />
        <label (click)="onOrderSideSelected('SELL')" class="btn btn-outline-success rounded-pill"
            for="sell">Sell</label>
    </div>
    <div class="dashboard__open-orders__selector">
        <select (change)="onExchangeSelected($event)" class="form-select form-select-lg" aria-label="Sort data">
            <option selected disabled value="">Exchange</option>
            <option value="MAL1">EXCHANGE 1</option>
            <option value="MAL2">EXCHANGE 2</option>
        </select>
        <select (change)="onProductSelected($event)" class="form-select form-select-lg" aria-label="Sort data">
            <option selected disabled value="">Product</option>
            <option *ngFor="let product of products" [value]="product">
                {{ product }}
            </option>
        </select>
    </div>
    <app-no-data class="dashboard__open-orders__no-data" *ngIf="selectedProduct.length == 0"
        text="Select a product"></app-no-data>
    <app-no-data class="dashboard__open-orders__no-data"
        *ngIf="filteredOrders.length == 0 && selectedProduct.length > 0"></app-no-data>
    <div *ngIf="selectedProduct.length > 0 && filteredOrders.length > 0"
        class="dashboard__open-orders__table table-responsive">
        <table class="table table-sm table-borderless table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderBook of filteredOrders; let i = index">
                    <th>{{ i + 1 }}</th>
                    <td>{{ orderBook.quantity }}</td>
                    <td>{{ orderBook.price }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>