.dashboard {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(5rem, auto);
  gap: 1rem;
  position: relative;

  &__place-order {
    position: absolute;
    right: 0rem;
    top: 4rem;
    z-index: 100;
  }
  &__heading {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
  }
  &__market-brief {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
  }
  &__open-orders {
    grid-column: 6 / 8;
  }
  &__graph {
    grid-column: 1 / 8;
    grid-row: 3 / 4;
  }
}
