.main-container{
    width: 100%;
    height: 100%;

    .wrapper-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: white;
        margin-bottom: 20%;


        .image-container {
            width: 50%;
            background-image: url(../../../../../assets/register-image.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            
        }


        .form-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;


            .form{
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;

                .logo{
                    width: 100%;
                    font-size: 100px;
                    font-weight: bolder;
                    text-align: center;
                    padding-top: 5%;
                    padding-bottom: 5%;
                }

                .paragraph {
                    width: 100%;
                    text-align: center;
                    padding-top: 5%;
                    padding-bottom: 5%;
                }


                .form-group {
                    padding-top: 5%;
                    padding-bottom: 5%;

                    #name, #email, #password{
                        font-size: 16px;
                        width: 80%;
                        height:40px;
                        border-radius: 10px;
                    }
                    
                }
                

                .submit-container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-top: 15%;
                    padding-bottom: 5%;
                    margin-bottom: 30px;

                    .submit-button {
                        width: 80%;
                        height: 40px;
                        border: 0;
                        border-radius: 10px;
                        background-color: #064F32;
                        color: white;
                    }
                }
            }

            span{
                color: blue;
                cursor: pointer;
            }
        }


    }
}


$layout-breakpoint-medium: 768px;

@media (max-width: $layout-breakpoint-medium) {
    .wrapper-container {
        flex-direction: column;
    };


  .image-container {
    display:none;
    width: 0;
    
  };

  .form-container {
    width: 100%;
  }
}



