.orders__list {
  max-height: fit-content;
  padding: 2rem 1rem;

  &__table {
    overflow-y: auto;
  }

  &__selectors {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (max-width: 41.25em) {
      flex-direction: column;
    }

    & select {
      width: 100%;
      margin: 0 1rem;

      @media only screen and (max-width: 41.25em) {
        margin: 1rem 0;
      }
    }
  }
}
