.portfolio__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .total__balance {
    margin-right: 2rem;
    padding: 0.5rem 2rem;

    & p {
      font-size: 2rem;
    }
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__place-order {
    position: absolute;
    z-index: 100;
    right: 1.5rem;
  }
  & h1 {
    font-size: 3.6rem;
    font-weight: 400;
  }
}
