<nav class="sidebar row gx-0">

    <div class="sidebar__text col-9 pb-5">
      <div class="sidebar__user-info">
        <span class="me-3">
          <img src="assets/profile-image.svg" alt="Profile image" />
        </span>
        <span>
          <h3>My profile</h3>
          <p>Admin</p>
        </span>
      </div>


      <ul class="sidebar__text__items">
        <div class="side-trades">
          <p>
            <fa-icon [icon]="'chart-simple'"></fa-icon>
            <span>Trades</span>
          </p>
          <li routerLinkActive="active" ><a routerLink="/admin/trades/open" class="trades">Open</a></li>
          <li routerLinkActive="active"><a routerLink="/admin/trades/cancelled" class="trades">Cancelled</a></li>
          <li routerLinkActive="active"><a routerLink="/admin/trades/filled" class="trades">Filled</a></li>
        </div>

        <li routerLinkActive="active">
          <a routerLink="/admin/clients" >
            <fa-icon [icon]="'users'"></fa-icon>
            <span class="icon-text">
              Clients
            </span>
          </a>
        </li>

        <li class="mt-auto" (click)="logout()">
          <fa-icon [icon]="'arrow-right-from-bracket'"></fa-icon>
          <span class="icon-text">
           Log out
          </span>
        </li>
      </ul>
    </div>
  </nav>
