.dashboard__order-box {
  padding: 1rem;

  & .form {
    &-label {
      font-size: 1.4rem;
      font-weight: 400;
    }
    &-select, &-control {
      font-size: 1.5rem;
    }
    &-group {
      margin-bottom: 1.5rem;
    }
  }
}
