<section class="dashboard__order-box card rounded-4">
  <form (ngSubmit)="onSubmit($event)" class="form" [formGroup]="formGroup" novalidate>
    <!-- stock -->
    <div class="form-group">
      <label for="stock" class="form-label">Stock</label>
      <select class="form-select form-select-lg" id="stock" required formControlName="stock">
        <option selected disabled value="">Select stock</option>
        <option *ngFor="let stock of stockList" value="{{ stock }}">
          {{ stock }}
        </option>
      </select>
      <div class="invalid-feedback">Please select a stock</div>
    </div>
    <!-- price -->
    <div class="form-group">
      <label for="price" class="form-label">Price</label>
      <input [ngClass]="price.invalid && (price.dirty || price.touched) ? 'is-invalid' : ''" type="number"
        formControlName="price" id="price" class="form-control" placeholder="$99.99" required min="1" />
      <div class="invalid-feedback">Please enter a valid price</div>
    </div>
    <!-- type -->
    <div class="form-group">
      <label for="type" class="form-label">Order type</label>
      <select class="form-select form-select-lg" id="type" required formControlName="type">
        <option selected disabled value="">Select type</option>
        <option *ngFor="let type of orderTypes" value="{{ type }}">
          {{ type }}
        </option>
      </select>
      <div class="invalid-feedback">Please select an order type</div>
    </div>
    <!-- quantity -->
    <div class="form-group">
      <label for="quantity" class="form-label">Quantity</label>
      <input [ngClass]="quantity.invalid && (quantity.dirty || quantity.touched) ? 'is-invalid' : ''" type="number"
        formControlName="quantity" id="quantity" class="form-control" placeholder="100" required min="1" />
      <div class="invalid-feedback">Please enter a valid quantity</div>
    </div>
    <!-- portfolio -->
    <div class="form-group">
      <label for="portfolio" class="form-label">Portfolio</label>
      <select class="form-select form-select-lg" id="portfolio" required formControlName="portfolioId">
        <option selected disabled value="0">Select portfolio</option>
        <option *ngFor="let portfolio of portfolios" value="{{ portfolio.id }}">
          {{ portfolio.name }}
        </option>
      </select>
      <div class="invalid-feedback">Please select a portfolio</div>
    </div>
    <!-- Button row -->
    <div class="form-group dashboard__order-box__button-row">
      <app-button text="Cancel" (click)="onCancel($event)" color="red"></app-button>
      <app-button text="Submit" color="green"></app-button>
    </div>
  </form>
</section>