table {
  width: 100%;
  margin-top: 4rem;

  thead {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  tbody {
    :hover {
      // background-color: #74bdcb;
      cursor: pointer;
    }

    .angle_right {
      color: rgb(1, 1, 185);
    }
    span {
      color: red;
    }

    .trash {
      & fa-icon {
        color: red;
      }
    }

    .angle_right {
      margin-left: 30px;
    }
  }
}
