<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Portfolio Name</th>
			<th scope="col">Total number of stocks</th>
			<th scope="col">Total balance of Portfolio</th>
            <th scope="col"></th>
            <th></th>
		</tr>
	</thead>
	<tbody>


		<!-- <tr *ngFor="let country of countries; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				{{ country.name }}
			</td>
			<td>{{ country.area | number }}</td>
			<td>{{ country.population | number }}</td>
            <td>x</td>
            <td>></td>
		</tr> -->



		<tr *ngFor="let portfolio of portfolios; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				{{ portfolio.name }}
			</td>
            <td>x</td>
            <td>></td>
		</tr>
	</tbody>
</table>
