<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Portfolio Name</th>
			<th scope="col">Delete</th>
            <th scope="col">View</th>
		</tr>
	</thead>
	<tbody>


		<tr *ngFor="let portfolio of portfolios; index as i">
			<td>
				{{ portfolio.name }}
			</td>
            <td class="del"><fa-icon [icon]="'trash'"></fa-icon></td>

			<ng-template #content let-modal>
				<portfolio-stock-list [modal]="modal"></portfolio-stock-list>
			</ng-template>
            <td (click)="open(content)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="angle_right">
				<fa-icon [icon]="'angle-right'"></fa-icon>
			</td>
		</tr>
	</tbody>
</table>
