<div class="portfolio-stock-list">

      <div class="modal-header">
        <div>Portfolio name</div>
      </div>

      <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Quantity</th>
                <th scope="col">Order Side</th>
                <th scope="col">Order Type</th>
                <th scope="col">Order Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>IBM</td>
                <td>100</td>
                <td>BUY</td>
                <td>LIMIT</td>
                <td>PENDING</td>
              </tr>
            </tbody>
          </table>
        </div>

</div>
