<div class="main-container">
    <div class="wrapper-container">
        <div class="image-container"></div>
        <div class="form-container">
            <!-- Login form -->
            <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup" novalidate  class="form">
                <div class="logo">JDG</div>
                <div class="paragraph">Welcome back</div>

                <p class="error">{{errorMessage}}</p>

                <!-- Email -->
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input 
                        type="email" 
                        formControlName="email" 
                        id="email" 
                        class="form-control" 
                        placeholder="eg. example@example.com" 
                        [ngClass]="password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''"
                        required
                        (change)="onEmailChange()"
                    />
                    <div class="invalid-feedback">Please enter your email</div>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input 
                        type="password" 
                        formControlName="password" 
                        id="password" 
                        class="form-control" 
                        placeholder="Password"
                        [ngClass]="password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''"
                        required
                        (change)="onPasswordChange()"
                    />
                    <div class="invalid-feedback">Please enter your password</div>
                </div>

               <div class="submit-container">
                <button class="submit-button" type="submit">Login</button>
               </div>
            </form>

            <div>Don't have an account? 
                <span routerLink="/auth/register">Register</span>
            </div>
        </div>
        
    </div>
</div>
