/* ------ */
/* Styles */
/* ------ */

@import "styles/variables";
@import "bootstrap/scss/bootstrap";

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins and Paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* set up general font size */
html {
  font-size: 62.5%;
}

/* Set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  font-family: var(--font-roboto);
  // overflow: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove link styles */
a,
a:hover,
a:visited,
a:link {
  text-decoration: none;
  color: unset;
}

/* remove animations for people who turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border: none;
}
select {
  padding: 1rem !important;
  font-size: 1.5rem !important;
}
table {
  & tr:nth-child(even) {
    background-color: var(--color-grey-white);
  }
  & td {
    text-align: center;
    padding: 0.8rem 0 !important;
  }
  & thead {
    font-size: 1.5rem;
    font-weight: 400;
    border-bottom: 1px solid rgba(#000, 0.1);

    & th {
      text-align: center;
      padding: 1.6rem 3rem !important;
    }
  }
  & tbody th {
    text-align: center;
  }
}
.form {
  &-label {
    font-size: 1.4rem;
    font-weight: 400;
  }
  &-select,
  &-control {
    font-size: 1.5rem;
  }
  &-group {
    margin-bottom: 1.5rem;
  }
}

.trades-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EBF8FF;

  div {
    width: 90%;

    h3 {
      font-size: 3rem;
      padding: 3rem;
      margin-bottom: 3rem;
      background-color: #EBF8FF;

    }
  }
}
