.dashboard__market-brief {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: 2rem;

    @media only screen and (max-width: 41.25em) {
      flex-direction: column;
    }

    & select {
      width: 100%;
      padding: 1rem;
      margin: 0 1rem;
      font-size: 1.5rem;

      @media only screen and (max-width: 41.25em) {
        margin: 1rem 0;
      }
    }
  }
  &__selectors {
    display: flex;
    width: 50%;

    @media only screen and (max-width: 41.25em) {
      flex-direction: column;
    }
  }
  &__table {
    & td,
    & th {
      text-align: center;
      padding: 0.8rem 0;
    }
    & tr:nth-child(even) {
      background-color: var(--color-grey-white);
    }
    &__head {
      font-size: 1.5rem;
      font-weight: 400;
      border-bottom: 1px solid rgba(#000, 0.1);

      & th {
        text-align: center;
        padding: 1.6rem 3rem;
      }
    }
  }
  &__loader {
    margin: 0 auto;
    padding: 5rem;
  }
}
