table {
    width: 100%;
    margin-top: 4rem;

    thead{
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    tbody{
        :hover{
            background-color: #74BDCB;
            cursor: pointer;
        }

        .del {
            color: red;
        }

        .angle_right {
            color: rgb(1, 1, 185);
        }

        p {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
                color: red;
            }

            .trash{
                background-color: red;
            }

            .angle_right{
                padding-left: 30px;
            }
        }
    }
}