<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Client Name</th>
            <th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>

		<tr *ngFor="let client of clients; let i = index">
			<td>{{i + 1}}</td>
			<td>{{client.name | titlecase}}</td>

			<ng-template #content let-modal>
				<admin-client-stock [client]="client" ></admin-client-stock>
			</ng-template>

			<td>
				<span  (click)="open(content)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="angle_right">
					<fa-icon [icon]="'angle-right'"></fa-icon>
				</span>
			</td>
		</tr>
	</tbody>
</table>
